@page "/beavers"
@inject ApiService Api;
@inject StorageService Storage;
@inject IJSInProcessRuntime Js;
@inject CommonDataService CommonData;

<BreadcrumbRenderer Breadcrumb="Breadcrumb.Beavers" />

<DataFetcherPresentation Fetcher="refresher" />

<LoadablePage Title="Beavers & Bots" Model="population">
    @{
        var bonuses = CommonData.BonusTypes;
    }

    <div class="accordion">
        @foreach (var t in AllTypes)
        {
            var progress = GetProgressLabel(t);
            var showingProgress = t != CharacterType.Adult || showAdultAging;
            var revertAging = t == CharacterType.Bot;

            var hasHome = t != CharacterType.Bot;
            var hasWork = t != CharacterType.Child;

            <AccordionItem @key="t" Title="@(t.ToString())">
                @if (t == CharacterType.Adult)
                {
                    <div class="form-check">
                        <input @bind="showAdultAging" class="form-check-input" type="checkbox" id="chkShowAdultAging" />
                        <label class="form-check-label" for="chkShowAdultAging">
                            Show adult aging progress (WARN: cheat option as it is not available in-game).
                        </label>
                    </div>
                }

                <div class="list-group">
                    @foreach (var c in population![t])
                    {
                        var id = c.Entity.EntityId;

                        var detailsUrl = "/beavers/" + Uri.EscapeDataString(c.Entity.EntityId.ToString());

                        <div class="list-group-item" @key="id">
                            <div class="row">
                                <div class="col">
                                    <span class="me-1">
                                        <a href="@(detailsUrl)">
                                            <Image class="beaver-avatar" Path="@(c.ImagePath)" alt="@(c.Name)" />
                                        </a>
                                    </span>
                                    <span>
                                        <a href="@(detailsUrl)">
                                            @(c.Name)
                                        </a>
                                    </span>
                                    <button class="btn btn-link" @onclick="() => RenameAsync(c)">
                                        <i class="fa-regular fa-pen-to-square"></i>
                                    </button>
                                </div>

                                <div class="col-2">
                                    <CharacterBuilding Building="GetBuilding(c.District)" Prefix="District: " />

                                    @if (hasHome)
                                    {
                                        <CharacterBuilding Building="GetBuilding(c.Dwelling)" Prefix="Lives in: " />
                                    }

                                    @if (hasWork)
                                    {
                                        <CharacterBuilding Building="GetBuilding(c.Workplace)" Prefix="Works at: " />
                                    }
                                </div>

                                <div class="col-2 align-self-center">
                                    <WellbeingSummary Character="c" Bonuses="bonuses" />
                                </div>

                                <div class="col-2 hstack">
                                    <span class="me-3">Age: @(c.Age)</span>
                                    
                                    @if (showingProgress)
                                    {
                                        var aging = (revertAging ? 1 - c.Progress : c.Progress).ToString("0%");

                                        <div class="progress progress-aging me-1" role="progressbar" title="@(progress + aging)">
                                            <div class="progress-bar bg-info" style="width: @(aging)"></div>
                                        </div>
                                    }
                                </div>

                                <div class="col-2">
                                    <button class="btn btn-primary" title="Select and focus on" @onclick="() => SelectAsync(id, true)">
                                        <i class="fa-solid fa-eye"></i>
                                    </button>
                                    <button class="btn btn-primary" title="Select and follow" @onclick="() => SelectAsync(id, false)">
                                        <i class="fa-solid fa-video"></i>
                                    </button>
                                </div>

                            </div>
                        </div>
                    }
                </div>
            </AccordionItem>
        }
    </div>

</LoadablePage>
